<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.supermin.ai_fortune_teller">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ai_fortune_teller_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ai_fortune_teller_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AI_FORTUNE_TELLER"
        tools:targetApi="31">
        <activity
            android:name=".view.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AI_FORTUNE_TELLER">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>